{% extends 'base.html' %}

{% block title %}
    Listado de Marcas
{% endblock %}

{% block content %}

    <h1>Acá podés encontrar nuestras marcas:</h1>

    <div class="container-fluid">
        <div class="row text-center">
            {% for category in categories %}
                <div class="col">
                    <div class="container p-3 my-3 bg-primary text-white text-center">
                        <h1>{{category.name}} </h1>
                    </div>
                    <div class="col">
                        <div class="card container-fluid" style="width: 18rem;">
                            <p style="font-size: xx-large; text-align: center;"  class="card-text">{{category.name}}</p>
                            <img src="https://http2.mlstatic.com/D_NQ_NP_949074-MLA47515035608_092021-W.jpg" class="card-img-top" alt="...">
                            <div style="align-self: center;" class="card-body">
                                <a href="/Products/list_products/?search={{category.name}}"  class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Ver Modelos</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



    <div class="card text-center">
        <div class="card-body">
            <h3 class="card-title">Añadir nueva cateogria</h5>
            <a href="/Categories/add_categories/" class="btn btn-primary">Añadir</a>
        </div>
    </div>


{% endblock %}